* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetbrainsMono Nerd Font";
    font-size: 13px;
}

window#waybar {
  background-color: rgba(60, 0, 97, 0.5);
  border-radius: 20px;
  color: #E4D00A;
}


button {
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  outline: none;
  box-shadow: none;
  color: #E4D00A;
}
button:hover {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
  outline: none;
}

